{% load static %}
<footer class="ftco-footer ftco-section img">
        <div class="overlay"></div>
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Sobre nós</h2>
              <p>Pizzas preparadas com cuidado para acompanhar seus melhores momentos.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Blog recente</h2>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url({% static 'images/image_1.jpg' %});"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">O cuidado por trás de cada pizza</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> 15 de setembro de 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Administração</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url({% static 'images/image_2.jpg' %});"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Sabores para compartilhar</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> 15 de setembro de 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Administração</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
             <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Serviços</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Preparado</a></li>
                <li><a href="#" class="py-2 d-block">Entrega</a></li>
                <li><a href="#" class="py-2 d-block">Alimentos de qualidade</a></li>
                <li><a href="#" class="py-2 d-block">Combinações</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Tem alguma dúvida?</h2>
                <div class="block-23 mb-3">
                  <ul>
                    <li><span class="icon icon-map-marker"></span><span class="text">Endereço a confirmar</span></li>
                    <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                    <li><span class="icon icon-envelope"></span><span class="text">E-mail a confirmar</span></li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  &copy; <script>document.write(new Date().getFullYear());</script> Todos os direitos reservados | Este modelo foi criado por <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
