{% extends "_base.html" %}

{% block title %}
Excluir pizza | La Piazza
{% endblock %}


{% block content %}

<section class="ftco-section">

    <div class="container">

        <h2>
            Excluir pizza
        </h2>


        <p>
            Tem certeza que deseja excluir
            <strong>{{ pizza.nome }}</strong>?
        </p>


        <p class="text-danger">

            Esta ação não poderá ser desfeita.

        </p>


        <form method="post">

            {% csrf_token %}


            <button
                type="submit"
                class="btn btn-danger"
            >
                Sim, excluir
            </button>


            <a
                href="{% url 'pizza_detalhe' pizza.pk %}"
                class="btn btn-secondary"
            >
                Cancelar
            </a>

        </form>

    </div>

</section>

{% endblock %}